@model IEnumerable<sample_mvc.Models.Teams>

@{
    ViewData["Title"] = "Index";
}

<h1>Teams Database</h1>

<p>
    <a class="btn btn-success form-control col-1" asp-action="Create">New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Team
            </th>
            <th>
                City
            </th>
            <th>
                Best Player
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bestPlayer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
